

/*
a {
    color: white;
}

*/


.home {
    border-radius: 10px;
    padding: 17px;

}

body {
    width: 100vw;
    overflow-x: hidden;
    background-repeat: no-repeat;
}

a, a:hover, button, button:hover {
    transition: all 0.2s;
    
  }

  a:hover {
    color: yellow;
}

.header {
    height: 80px;
    max-width:100%;
    background-color:#003a57;
}

.forge-white {
    margin-right: 0%;
    height: 0;
}

.white-text {
    padding-top: 10%;
    padding-left: 10%;
    height: 20%;
}



.grey-text {
    padding-left: 30%;
    padding-top: 20%;
}

.forge-grey {
    margin-left: 50%;
    height: 300px;
    background-color: #E7DBD0;

}

.forge-yellow {
    height: 300px;
    background-color: #FCB31F;
    border-right: 472px solid black;


}

